*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
}
.header-site{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #222222;
    padding: 1.5em;

}
.name_shop{
    color: white;
    font-family: Dosis;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 0.2em;
}
.name_shop span{
    color: #FF7417;
}
.cart-sectional{

}
.optional1{
    color: #FF7417;

    font-family: Dosis;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 0.2em;
}

main {
    flex: 1 1 auto;
}
.placeholder{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5%;

}
.placeholder_for_sort{
}
.button1{
    width: 15em;
    height: 3em;

    background: #EFEFEF;
    border: 0.1em solid #A0A3AD;
    box-sizing: border-box;
    box-shadow: 0em 0.4em 0.4em rgba(0, 0, 0, 0.25);
    border-radius: 0em;
}
.button2{
    width: 15em;
    height: 3em;

    background: #EFEFEF;
    border: 0.1em solid #A0A3AD;
    box-sizing: border-box;
    box-shadow: 0 0.4em 0.4em rgba(0, 0, 0, 0.25);
    border-radius: 0em;
}
.button1:hover {
    background-color: #FF7417;
}
.button2:hover {
    background-color: #FF7417;
}
.all_product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.staff{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.img{
  object-fit: contain;
    width: 250px;
    height: 250px;
}
.name{
    font-family: Dosis;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1em;
    text-align: center;

}
.buy_and_price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.buy_and_price > p {
    padding-top: 0.6em;
}
.button3{
    width: 13em;
    height: 3em;
}
.button3:hover{
    background-color: darkorange;
}
.footer-site{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    vertical-align: center;
    background-color: #222222;
    padding: 1em 0 1em 2em;
    margin-top: 1em;
}
.footer-content{
    color: #FF7417;
}
.footer-content2{
    color: white;
}
